@import '../../scss/mixins';
@import '../../scss/variables';

.footer {
	display: flex;
	padding: 30px 120px;
	background: rgb(18, 22, 56);
	align-items: center;
	color: rgb(168, 168, 168);
	justify-content: space-between;

	&__left {
		display: flex;
	}

	&__logo {
		height: 40px;
		@include screen($md) {
			height: 30px;
		}
	}

	&__feature {
		margin-left: 10px;
		border-left: 3px solid rgb(109, 109, 109);
		padding-left: 15px;
	}

	&__top {
		border-bottom: 2px solid rgb(97, 97, 97);
		padding-bottom: 5px;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style-type: none;
			li {
				margin: 0px 10px;
				font-size: 18px;
				cursor: pointer;
				@include screen($md) {
					font-size: 16px;
				}
			}
		}
		@include screen($sm) {
			display: none;
		}
	}

	&__bottom {
		margin-top: 10px;
		font-size: 16px;
	}

	&__right {
		text-align: center;
	}

	&__icon {
		display: flex;
		background: rgba(121, 185, 245, 0.445);
		padding: 5px 30px;
		border-top-left-radius: 40px;
		border-top-right-radius: 10px;
		img {
			height: 28px;
			margin: 0px 5px;
			cursor: pointer;
			@include screen($sm) {
				height: 20px;
			}
		}
		@include screen($md) {
			padding: 5px 15px;
		}
		@include screen($sm) {
			padding: 5px 5px;
		}
	}

	&__speech {
		padding: 10px 30px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 40px;
		background: #e7810d8f;
		@include screen($sm) {
			font-size: small;
		}
	}

	@include screen($lg) {
		padding: 30px 20px;
	}
	@include screen($sm) {
		padding: 10px 20px;
	}
}
